.error-imagem {
    width: 100%;
    max-width: 35rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
  
  .naoencontrado-texto {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .naoencontrado-link {
    color: #0071ea;
  }  